/* CSS for the single location page*/
.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rick-morty-img{
    width: 100%;
    margin: 30px;
    border-radius: 5px;
}

.h1-location {
    margin: 20px;
}

.h2-location {
    text-decoration-line: underline;
}

.location{
    margin-bottom: 40px;
}

.character-container{
    margin: 50px;

}

.info-card-text{
    font-size: 22px;
}

.fullwidth{
    max-width: 100%;
}